# IntelliJ IDEA files
/.idea/**
# Ignore everything in the folder .idea except .idea/externalDependencies.xml
!.idea/externalDependencies.xml
*.iml
*.iws
*.ipr

#.env file
.env

# Eclipse files
.classpath
.project
.settings/

# Compiled class files
*.class

# Maven target directory
target/

# Gradle build directory
build/

# Log files
logs/
*.log

# Application properties (optional)
#src/main/resources/application.properties
#application.yml

# Temporary files
*.tmp
*.swp
*~

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Gradle wrapper jar files
**/**/gradle-wrapper.jar

# Documentation
.bkp

# Sonar Token Files

